<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          <h4 class= "text-success"><%= @user.username %></h4>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @user.email %></h5>
          <%= link_to "Editar Perfil",  edit_user_path(@user), class: "btn btn-outline-info" %>
          <%= link_to "Remover Perfil", user_path(@user), class: "btn btn-outline-danger", method: :delete, 
              data: {confirm: "Você tem certeza que deseja remover?"} %>
        </div>
      </div>
    </div>
  </div>
</div>
