<footer id="footer" class="py-4 text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Banco Ruby On Rails", root_path, class: "text-white" %>
    </small>
  </div>
</footer>
