<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to "Banco Ruby On Rails", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Agências Bancárias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Criar nova agência", new_bank_agency_path, class: "dropdown-item" %>
            <%= link_to "Visualizar agências", bank_agencies_path, class: "dropdown-item" %>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Contas Bancárias
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Criar nova conta", new_bank_account_path, class: "dropdown-item" %>
            <%= link_to "Visualizar contas", bank_accounts_path, class: "dropdown-item" %>
          </div>
        </li>

      <% else %>

        <li class="nav-item">
          <%= link_to "Entrar", acesso_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Registrar", new_user_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    
    <% if logged_in? %>
      <ul class="navbar-nav" style="margin-right: 100px">
        <li class="nav-item dropdown float-right">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong><%= current_user.username %></strong>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Visualizar Perfil", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Sair", sair_path, class: "dropdown-item", method: :delete %>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
