<div id="containerError">
  <div class="divError">
    <div class="divMsg">
      <h1>Oops!</h1>
    </div>
    <h2>500 - Erro no servidor</h2>
    <%= link_to 'Volte para a Página Inicial', root_path %>
  </div>
</div>
