<div class="container">
  <% obj.each do |bank_agency| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <h4 class= "text-success">
              <%= bank_agency.name %>
            </h4>
          </div>
          <div class="card-body">
            <% if bank_agency.image.attached? %>
              <div class="divImage">
                <%= image_tag bank_agency.image  %>
              </div>
            <% end %>

            <h5 class="card-title text-info"><%= 'Número: ' + bank_agency.number %> </h5>

            <p class="card-text text-info" style="font-size: 20px;"><%= 'Endereço: ' + bank_agency.address %></p>

            <%= link_to "Visualizar", bank_agency_path(bank_agency), class: "btn btn-outline-success" %>
            <%= link_to "Editar", edit_bank_agency_path(bank_agency), class: "btn btn-outline-info" %>
            <%= link_to "Remover", bank_agency_path(bank_agency), class: "btn btn-outline-danger", 
                method: :delete, data: {confirm: "Você tem certeza que deseja remover?"} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
