<div class="container">
  <%= render 'shared/errors', obj: @bank_agency %>

  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @bank_agency, class: "shadow p-3 mb-3 formAgency rounded", local: true) do |f| %>

        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Nome da agência" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :number, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :number, class: "form-control shadow rounded", 
              placeholder: "Número da agência" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :address, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.text_field :address, class: "form-control shadow rounded", placeholder: "Endereço da agência" %>
          </div>
        </div>

        <div class="form-group row" style="justify-content: center">
          <% if @bank_agency.image.attached? && !@bank_agency.errors.any? %>
            <div class="divImage">
              <%= image_tag @bank_agency.image  %>
            </div>
          <% end %>
        </div>

        <div class="form-group row">
          <%= f.label :image, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.file_field :image, class: "form-control shadow rounded"%>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div> 
