<div class="modal fade" id="modalAgency" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" style="margin: auto;">Contas</h5>
      </div>
      <div class="modal-body">
          <% obj.each do |bank_account|  %>
           <h4><%= link_to bank_account.account_number, bank_account_path(bank_account), class: "text-success" %></h4>
          <% end %>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
