<h1 class="text-center mt-4 mb-4">Agências Bancárias</h1>

<div class="flickr_pagination">
  <%= will_paginate @bank_agencies, :previous_label => 'Anterior', :next_label => 'Próximo',
      :container => false 
  %>
</div>

<%= render 'bank_agency', obj: @bank_agencies %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @bank_agencies, :previous_label => 'Anterior', :next_label => 'Próximo',
      :container => false 
  %>
</div>
