<h2 class="text-center mt-4"><%= @bank_agency.name %></h2>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
            <h5 class="card-title text-success"><%= 'Número: ' + @bank_agency.number %> </h5>
        </div>
        <div class="card-body">
          <% if @bank_agency.image.attached? %>
            <div class="divImage">
              <%= image_tag @bank_agency.image  %>
            </div>
          <% end %>

          <div class="card-text text-info" style="font-size: 20px;"><%= 'Endereço: ' + @bank_agency.address %></div>

          <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#modalAgency">
            Visualizar Contas
          </button>

          <%= render 'modal_agency', obj: @bank_accounts %>
        </div>
      </div>
    </div>
  </div>
</div>
