<h1 class="text-center mt-4">Acesso</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(scope: :session, url: acesso_path, class: "shadow p-3 mb-3 formLoginUser rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Digite seu email" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label "Senha", class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Digite sua senha" %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit "Entrar", class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div> 
