<div class="container">
  <% obj.each do |bank_account| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <h4 class= "text-success">
              <%= bank_account.account_number %>
            </h4>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to bank_account.bank_agency.name, bank_agency_path(bank_account.bank_agency), class: "text-info" %>
            </h5>

            <p style="font-size: 20px;">
              <span class="card-text text-info">Limite: </span>
              <span class="card-text text-success">
                <%= number_to_currency(bank_account.limit, :unit => "R$ ", :separator => ",", :delimiter => ".") %>
              </span>
            </p>

            <%= link_to "Visualizar", bank_account_path(bank_account), class: "btn btn-outline-success" %>
            <%= link_to "Editar", edit_bank_account_path(bank_account), class: "btn btn-outline-info" %>
            <%= link_to "Remover", bank_account_path(bank_account), class: "btn btn-outline-danger", 
                method: :delete, data: {confirm: "Você tem certeza que deseja remover?"} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
