<div class="container">
  <%= render 'shared/errors', obj: @bank_account %>

  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @bank_account, class: "shadow p-3 mb-3 formAccount rounded", local: true) do |f| %>

        <div class="form-group row">
          <%= f.label :account_number, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :account_number, class: "form-control shadow rounded", 
              placeholder: "Número da conta" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :limit, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.text_field :limit, class: "form-control shadow rounded", placeholder: "Limite da conta em reais" %>
          </div>
        </div>

        <div class="form-group  row">
          <%= f.label "Agência", class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.select :bank_agency_id, BankAgency.pluck(:number, :id), {:include_blank => 'Selecione uma agência'}, 
                class: 'form-control'
            %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div> 
