<h1 class="text-center mt-4 mb-4">Contas Bancárias</h1>

<div class="flickr_pagination">
  <%= will_paginate @bank_accounts, :previous_label => 'Anterior', :next_label => 'Próximo',
      :container => false 
  %>
</div>

<%= render 'bank_accounts', obj: @bank_accounts %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @bank_accounts, :previous_label => 'Anterior', :next_label => 'Próximo',
      :container => false 
  %>
</div>
