<h2 class="text-center mt-4"><%= @bank_account.account_number %></h2>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          <h4>
            <%= link_to @bank_account.bank_agency.name, bank_agency_path(@bank_account.bank_agency), class: "text-success" %>
          </h4>
        </div>
        <div class="card-body">
          <div class="card-text text-info">
            <p style="font-size: 20px;">
              <span class="card-text text-info">Limite: </span>
              <span class="card-text text-success">
                <%= number_to_currency(@bank_account.limit, :unit => "R$ ", :separator => ",", :delimiter => ".") %>
              </span>
            </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
