@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #621db5 !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar .navbar-toggler {
  background: #fff !important;
}

#home-container {
  margin-top: 100px;
}

.jumbotron {
  background-image: image-url('banco.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  width: 100%;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: none;
  background-color: #621db5 !important;
} 

.formAgency, .formAccount, .formRegisterUser, .formLoginUser {
  background-color: #621db5 !important;
}

/* estilo paginação */

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; 
}
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0.2em 0.5em;
  border-radius: 5px;
}
.flickr_pagination .disabled {
  color: #621db5; 
}
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #621db5; 
}
.flickr_pagination a {
  border: 1px solid #621db5;
  color: #621db5;
  text-decoration: none;
}
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: gray;
  background: whitesmoke;
  color: #621db5; 
}
.flickr_pagination .page_info {
  color: #621db5;
  padding-top: 0.8em;
}
.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px; 
}
.flickr_pagination .previous_page {
  margin-right: 1em; 
}
.flickr_pagination .next_page {
  margin-left: 1em; 
} 

.divImage {
  padding: 10px;
  margin: 10px;
}

.divImage img {
  max-width:100%;
  height: 185px;
}

/* customização de erros */

#containerError {
  position: relative;
  height: 65vh;
}

#containerError .divError {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.divError {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.divError .divMsg {
  height: 280px;
  position: relative;
  z-index: -1;
}

.divError .divMsg h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: image-url('logo_error.jpg');
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.divError h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}

.divError p {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.divError a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0px 4px 15px -5px #0046d5;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .divError .divMsg {
    height: 142px;
  }
  .divError .divMsg h1 {
    font-size: 112px;
  }
}

.modal-content{
  margin-top: 64px !important
}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 190px;
  overflow-y: auto;
}
